<!doctype html>
<html>
  <head>
    <!-- minimal css -->
    <link href="./bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./mlc-translate-toolbox.min.css" rel="stylesheet" />
    <!-- load angularjs library -->
    <script src="./angular/angular.min.js"></script>
    <!-- load mlc-translate -->
    <script src="./mlc-translate.js"></script>
    <!-- load mlc-translate-toolbox -->
    <script src="./mlc-translate-toolbox.js"></script>
    <!-- load the index angularjs application -->
    <script src="./script.js"></script>
    <title>mlc-angularjs-translate</title>
  </head>
  <!-- Launch the MMOApp on this node -->
  <body ng-app="MyApp" ng-controller="MyCtrl as $ctrl">
    <div class="container">
      
      <h1 style="text-align:center;">mlc-angularjs-translate</h1>
      
      <div class="btn btn-default" ng-class="{active: $ctrl.toolboxEnabled}" ng-click="$ctrl.toggleToolbox()">Toolbox</div>
      
      <h2>Usage</h2>
      
      <h3>Basics</h3>
      
      <h4>Default group</h4>
      
      <div class="row">
        <div class="col-xs-6">
          <div mlc-translate="'Hello'"></div>
        </div>
        <div class="col-xs-6">
          <code-sample>{{ $ctrl.samples['1'] }}</code-sample>
        </div>
      </div>
      
      <h4>Specified group</h4>
      
      <div class="row">
        <div class="col-xs-6">
          <div mlc-translate="'Hello'" data-group="'my-group'"></div>
        </div>
        <div class="col-xs-6">
          <code-sample>{{ $ctrl.samples['2'] }}</code-sample>
        </div>
      </div>
      
      <h3>Parameters</h3>
      
      <h4>$ctrl.params</h4>
      <pre>{{ $ctrl.params }}</pre>
      
      <h4>long version</h4>
      <div class="row">
        <div class="col-xs-6">
          <div mlc-translate="'Timer value is {{ params.timer }}'" data-group="'my-group'" data-params="{timer: $ctrl.params.timer}"></div>
        </div>
        <div class="col-xs-6">
          <code-sample>{{ $ctrl.samples['3'] }}</code-sample>
        </div>
      </div>
      
      <h4>shorter version</h4>
      <div class="row">
        <div class="col-xs-6">
          <div mlc-translate="'Timer value is {{ _.timer }}'" data-group="'my-group'" data-params="$ctrl.params"></div>
        </div>
        <div class="col-xs-6">
          <code-sample>{{ $ctrl.samples['4'] }}</code-sample>
        </div>
      </div>
      
      <h4>input placeholder</h4>
      <div class="row">
        <div class="col-xs-6">
          <input type="text" class="form-control" 
                 mlc-translate-placeholder="'Timer value is {{ _.timer }}'" data-group="'my-group'" data-params="$ctrl.params" />
        </div>
        <div class="col-xs-6">
          <code-sample>{{ $ctrl.samples['5'] }}</code-sample>
        </div>
      </div>
      
      <h4>Select values</h4>
      <select>
        <option ng-value="null" mlc-translate="'Timer value is {{ _.timer }}'" data-group="'my-group'" data-params="$ctrl.params"></option>
        <option ng-value="1" mlc-translate="'Test {{ _.timer }}'" data-group="'my-group'" data-params="$ctrl.params"></option>
        <option ng-value="2" mlc-translate="'Test test {{ _.timer }}'" data-group="'my-group'" data-params="$ctrl.params"></option>
        <option ng-value="3" mlc-translate="'{{ _.timer * 2 }}'" data-group="'my-group'" data-params="$ctrl.params"></option>
      </select>
      
      <h2>Internals</h2>
      
      <h3>Translations</h3>
      <pre>{{ $ctrl.mlcTranslate.translations | json }}</pre>
      
      <h3>History</h3>
      <pre>{{ $ctrl.mlcTranslate.history | json }}</pre>
      
      <!--
      <h3>Toolbox groups</h3>
      <pre>{{ $ctrl.toolboxGroups | json }}</pre>
      -->
      <div ng-if="$ctrl.toolboxEnabled">
        <div mlc-translate-toolbox></div>
      </div>
    </div>
  </body>
</html>

